<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}">


    <title>PesonaJawa</title>
</head>
<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <a href="{{ url_for('home') }}" class="logo m-0 float-start">PesonaJawa<span class="text-primary">.</span></a>
                        </div>
                        <div class="col-8 text-center">
                            <form action="#" class="search-form d-inline-block d-lg-none">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bi-search"></span>
                            </form>

                            <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li class="has-children active">
                                    <a href="#">Category</a>
                                    <ul class="dropdown">
                                        <li><a href="{{ url_for('budaya') }}">Budaya</a></li>
                                        <li><a href="{{ url_for('tamanhiburan') }}">Taman Hiburan</a></li>
                                        <li class="active"><a href="{{ url_for('pusper') }}">Pusat Perbelanjaan</a></li>
                                        <li><a href="{{ url_for('cagaralam') }}">Cagar Alam</a></li>
                                        <li><a href="{{ url_for('bahari') }}">Bahari</a></li>
                                        <li><a href="{{ url_for('ibadah') }}">Tempat Ibadah</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('trip') }}">Trip</a></li>
                            </ul>
                        </div>
                        <div class="col-2 text-end">
                            <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
  
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{{ url_for('static', filename='images/belanjabg.jpeg') }}'); background-size: cover; background-position: center; height: 400px;">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-6">
            <div class="post-entry text-center">
              <h1 class="mb-4">Pusat Perbelanjaan</h1>
              <div class="post-meta align-items-center text-center">
                <span class="d-inline-block mt-1">"Menyelami Pusat Perbelanjaan di Pulau Jawa"</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <section class="section">
      <div class="container">
        <div class="col-md-12 col-lg-8 main-content mx-auto">
          <div class="post-content-body" style="text-align: justify;">
            <p>Pusat perbelanjaan adalah tempat komersial yang menyediakan berbagai fasilitas untuk belanja barang dan jasa, serta menjadi tempat hiburan dan rekreasi. Biasanya, pusat perbelanjaan terdiri dari beberapa toko atau gerai yang menjual berbagai jenis produk, mulai dari pakaian, elektronik, hingga makanan.</p>
            <p>Wisata pusat perbelanjaan menawarkan pengalaman seru untuk berbelanja, bersantai, dan menikmati berbagai hiburan. Dari produk lokal yang unik hingga merek internasional, setiap pusat perbelanjaan memiliki daya tarik tersendiri. Selain berbelanja, Anda juga bisa menikmati beragam kuliner lezat, menonton film, atau sekadar bersantai bersama keluarga dan teman. Ayo, kunjungi pusat perbelanjaan favorit Anda dan temukan keseruan tanpa batas!</p>
          </div>
          <section class="section">
            <div class="container">
        
              <div class="row mb-4">
                <div class="col-sm-6">
                  <h2 class="posts-entry-title">Destinasi</h2>
                </div>
                <div class="col-sm-6 text-sm-end"><a href="{{ url_for('pusper') }}" class="read-more">View All</a></div>
              </div>
              <div class="row">
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/bgjunction.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
        
                      <h2><a href="{{ url_for('pusper') }}">BG Junction Mall</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Surabaya</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">3.6</a></span>
                      </div>
        
                      <p>BG Junction adalah sebuah pusat perbelanjaan atau mall yang terletak di Surabaya, Jawa Timur. Mall ini menawarkan berbagai macam fasilitas untuk berbelanja, makan, serta hiburan bagi pengunjung.</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/pasarbandung.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Pasar Baru Bandung</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Bandung</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.3</a></span>
                      </div>
        
                      <p>Pasar Baru Bandung adalah salah satu pasar tradisional paling terkenal di Bandung, Jawa Barat. Pasar ini telah lama menjadi destinasi belanja favorit bagi warga lokal maupun wisatawan yang ingin mencari barang-barang dengan harga terjangkau</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/pasarsenin.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
                      <h2><a href="{{ url_for('pusper') }}">Pasar Senen</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Jakarta</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.2</a></span>
                      </div>
        
                      <p>Pasar Senen adalah pasar tradisional yang terletak di Jakarta Pusat, Indonesia. Pasar ini merupakan salah satu pasar terbesar dan paling terkenal di Jakarta</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
        
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/tanahabang.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Pasar Tanah Abang</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Jakarta</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.0</a></span>
                      </div>
        
                      <p>Pasar Tanah Abang adalah salah satu pasar terbesar dan paling terkenal di Jakarta, Indonesia. Pasar ini terkenal dengan beragam produk tekstil dan fashion yang dijual dengan harga grosir.</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/pecinan.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Pecinan Glodok</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Jakarta</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.3</a></span>
                      </div>
        
                      <p>Pecinan Glodok adalah kawasan Pecinan yang terletak di daerah Glodok, Jakarta Barat, yang terkenal sebagai pusat kegiatan perdagangan dan kebudayaan Tionghoa di Jakarta.</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/kebon.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Pasar Kebon Empring Bintaran</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Yogjakarta</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.4</a></span>
                      </div>
        
                      <p>Pasar Kebon Empring di Bintaran, Yogyakarta adalah pasar tradisional yang terletak di daerah Bintaran, tepatnya di kecamatan Bintaran, Yogyakarta. </p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
        
        
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/pasarberingharjo.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Pasar Beringharjo</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Kota Yogyakarta</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.5</a></span>
                      </div>
        
                      <p>Pasar Beringharjo adalah salah satu pasar tradisional terbesar dan paling terkenal di Yogyakarta, Indonesia</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/pasarseni.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Pasar Seni</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Jakarta</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.4</a></span>
                      </div>
        
                      <p>Pasar Seni Jakarta adalah sebuah pasar yang khusus menjual berbagai jenis karya seni dan kerajinan tangan.</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="post-entry-alt">
                    <a href="{{ url_for('pusper') }}" class="img-link"><img src="{{ url_for('static', filename='images/tp.jpg') }}" alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                      
                      
        
                      <h2><a href="{{ url_for('pusper') }}">Tunjungan Plaza</a></h2>
                      <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">Lokasi : <a href="#">Kota Surabaya</a></span>
                        <span class="d-inline-block mt-1">Harga : <a href="#">0</a></span>
                        <span class="d-inline-block mt-1">Rating : <a href="#">4.5</a></span>
                      </div>
        
                      <p>Tunjungan Plaza adalah salah satu pusat perbelanjaan terbesar dan paling terkenal di Surabaya, Jawa Timur.</p>
                      <p><a href="#" class="read-more">Selengkapnya</a></p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </section>
  
          
          <div class="pt-5 comment-wrap">
            <h3 class="mb-5 heading">5 Comments</h3>
            <ul class="comment-list">
              <li class="comment">
                <div class="vcard">
                  <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Januar Wijaya</h3>
                  <div class="meta">January 9, 2018 at 2:21pm</div>
                  <p>Pusat perbelanjaan yang sangat lengkap</p>
                  <p><a href="#" class="reply rounded">Reply</a></p>
                </div>
              </li>
  
              <li class="comment">
                <div class="vcard">
                  <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Selena Ror</h3>
                  <div class="meta">February 9, 2018 at 2:56pm</div>
                  <p>Kemarin ke tanah abang, saya suka</p>
                  <p><a href="#" class="reply rounded">Reply</a></p>
                </div>
  
                <li class="comment">
                  <div class="vcard">
                    <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>Krisnaes</h3>
                    <div class="meta">May 10, 2022 at 2:21pm</div>
                    <p>Pasar beringharjo sangat indah dan aesthetic</p>
                    <p><a href="#" class="reply rounded">Reply</a></p>
                  </div>
  
                  <li class="comment">
                    <div class="vcard">
                      <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                      <h3>Kurniasari</h3>
                      <div class="meta">March 9, 2023 at 2:21pm</div>
                      <p>Trimssss saya sangat suka web ini 😍😍😍</p>
                      <p><a href="#" class="reply rounded">Reply</a></p>
                    </div>
  
                    <li class="comment">
                      <div class="vcard">
                        <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                        <h3>Lea Uti</h3>
                        <div class="meta">August 9, 2018 at 2:21pm</div>
                        <p>saya sangat suka dengan pusat perbelanjaan ini mantap kerennnn 👍👍👍👍</p>
                        <p><a href="#" class="reply rounded">Reply</a></p>
                      </div>
  
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- END comment-list -->
  
              <div class="comment-form-wrap pt-5">
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h3 class="mb-4">About</h3>
              <p style="text-align: justify;">Website ini hadir untuk membantu Anda menemukan destinasi wisata terbaik di Pulau Jawa. Jelajahi keindahan alam, budaya, dan hiburan dalam satu platform.</p>
            </div> <!-- /.widget -->
            <div class="widget">
              <h3>Social Media</h3>
              <ul class="list-unstyled social">
                <li><a href="#"><span class="icon-instagram"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-pinterest"></span></a></li>
                <li><a href="#"><span class="icon-dribbble"></span></a></li>
              </ul>
            </div> <!-- /.widget -->
          </div> <!-- /.col-lg-4 -->
          <div class="col-lg-4 ps-lg-5">
            <div class="widget">
              <h3 class="mb-4">Company</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
              <ul class="list-unstyled float-start links">
                <li><a href="#">Partners</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Creative</a></li>
              </ul>
            </div> <!-- /.widget -->
          </div> <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3 class="mb-4">Blog</h3>
              <div class="post-entry-footer">
                <ul>
                  <li>
                    <a href="">
                      <img src="{{ url_for('static', filename='images/footer1.jpeg') }}" alt="Image placeholder" class="me-4 rounded">
                      <div class="text">
                        <h4>Tips Merencanakan Liburan di Pulau Jawa</h4>
                        <div class="post-meta">
                          <span class="mr-2">15 Oktober 2024</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="{{ url_for('static', filename='images/footer2.jpeg') }}" alt="Image placeholder" class="me-4 rounded">
                      <div class="text">
                        <h4>5 Destinasi Wisata Pulau Jawa yang Wajib Dikunjungi Tahun Ini</h4>
                        <div class="post-meta">
                          <span class="mr-2">20 November 2024</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="{{ url_for('static', filename='images/footer3.jpeg') }}" alt="Image placeholder" class="me-4 rounded">
                      <div class="text">
                        <h4>Wisata Ramah Anak di Pulau Jawa</h4>
                        <div class="post-meta">
                          <span class="mr-2">2 September 2024</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
  
  
            </div> <!-- /.widget -->
          </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->
  
        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
                **==========
                NOTE: 
                Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
                **==========
              -->
  
              <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>  Distributed by <a href="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
              </p>
            </div>
          </div>
        </div> <!-- /.container -->
      </footer> <!-- /.site-footer -->
  
      <!-- Preloader -->
      <div id="overlayer"></div>
      <div class="loader">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
  
  
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
  
      <script src="{{ url_for('static', filename='js/flatpickr.min.js') }}"></script>
  
  
      <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
      <script src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
      <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  
      
    </body>
    </html>