<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{{ url_for('static', filename='images/purwo.jpg') }}');">
    <div class="container">
      <div class="row same-height justify-content-center">
        <div class="col-md-6">
          <div class="post-entry text-center">
            <h1 class="mb-4">CAGAR ALAM</h1>
            <div class="post-meta align-items-center text-center">
              <span class="d-inline-block mt-1">"Menyelami Cagar Alam Pulau Jawa"</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="col-md-12 col-lg-8 main-content mx-auto">
        <div class="post-content-body" style="text-align: justify;">
          <p>Cagar Alam adalah kawasan yang dilindungi oleh pemerintah yang memiliki fungsi utama untuk melestarikan keanekaragaman hayati dan ekosistem alami di dalamnya.</p>
          <p>Wisata cagar alam menawarkan kesempatan untuk menikmati keindahan alam yang masih asli dan terjaga. Dengan berbagai flora dan fauna langka, cagar alam menjadi tempat yang sempurna bagi pecinta alam dan petualang. Selain memberikan pengalaman menyatu dengan alam, destinasi ini juga menjadi sarana edukasi tentang pentingnya melestarikan lingkungan. Ayo, jelajahi keajaiban alam yang memukau di kawasan cagar alam dan jadikan perjalanan Anda lebih bermakna!</p>
        </div>
        <section class="section">
          <div class="container">
      
            <div class="row mb-4">
              <div class="col-sm-6">
                <h2 class="posts-entry-title">Destinasi</h2>
              </div>
              <div class="col-sm-6 text-sm-end"><a href="{{ url_for('cagaralam') }}" class="read-more">View All</a></div>
            </div>
      
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                  <a href="{{ url_for('cagaralam') }}" class="img-link"><img src="{{ url_for('static', filename='images/angke.jpg') }}" alt="Image" class="img-fluid"></a>
                  <div class="excerpt">
                    
      
                    <h2><a href="{{ url_for('cagaralam') }}">Margasatwa Muara Angke</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                      <span class="d-inline-block mt-1">Lokasi : <a href="#">Jakarta</a></span>
                      <span class="d-inline-block mt-1">Harga : <a href="#">Rp25.000</a></span>
                      <span class="d-inline-block mt-1">Rating : <a href="#">4.2</a></span>
                    </div>
      
                    <p>Margasatwa Muara Angke adalah cagar alam di Jakarta Utara yang melestarikan ekosistem mangrove dan menjadi rumah bagi berbagai satwa liar, termasuk burung langka dan monyet ekor panjang.</p>
                    <p><a href="#" class="read-more">Selengkapnya</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                  <a href="{{ url_for('cagaralam') }}" class="img-link"><img src="{{ url_for('static', filename='images/loka.jpg') }}" alt="Image" class="img-fluid"></a>
                  <div class="excerpt">
                    
      
                    <h2><a href="{{ url_for('cagaralam') }}">Gembira Loka Zoo</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                      <span class="d-inline-block mt-1">Lokasi : <a href="#">Yogyakarta</a></span>
                      <span class="d-inline-block mt-1">Harga : <a href="#">Rp60.000</a></span>
                      <span class="d-inline-block mt-1">Rating : <a href="#">4.5</a></span>
                    </div>
      
                    <p>Gembira Loka Zoo adalah kebun binatang yang terletak di Yogyakarta, tepatnya di kawasan Jl. Kebun Raya No. 2, Yogyakarta.</p>
                    <p><a href="#" class="read-more">Selengkapnya</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                  <a href="{{ url_for('cagaralam') }}" class="img-link"><img src="{{ url_for('static', filename='images/watulumbung.jpg') }}" alt="Image" class="img-fluid"></a>
                  <div class="excerpt">
                    
                    <h2><a href="{{ url_for('cagaralam') }}">Watu Lumbung</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                      <span class="d-inline-block mt-1">Lokasi : <a href="#">Yogyakarta</a></span>
                      <span class="d-inline-block mt-1">Harga : <a href="#">Rp5.000</a></span>
                      <span class="d-inline-block mt-1">Rating : <a href="#">4.3</a></span>
                    </div>
      
                    <p>Watu Lumbung adalah sebuah objek wisata yang terletak di daerah Malioboro, Yogyakarta. Nama Watu Lumbung merujuk pada situs batu besar yang sering kali menjadi daya tarik wisata</p>
                    <p><a href="#" class="read-more">Selengkapnya</a></p>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                  <a href="{{ url_for('cagaralam') }}" class="img-link"><img src="{{ url_for('static', filename='images/pinus.jpg') }}" alt="Image" class="img-fluid"></a>
                  <div class="excerpt">
                    
      
                    <h2><a href="{{ url_for('cagaralam') }}">Hutan Pinus Asri</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                      <span class="d-inline-block mt-1">Lokasi : <a href="#">Yogyakarta</a></span>
                      <span class="d-inline-block mt-1">Harga : <a href="#">Rp2.500</a></span>
                      <span class="d-inline-block mt-1">Rating : <a href="#">4.5</a></span>
                    </div>
      
                    <p>Hutan Pinus Asri adalah salah satu objek wisata alam yang terletak di Yogyakarta, tepatnya di daerah Mangunan, Dlingo, Bantul. </p>
                    <p><a href="#" class="read-more">Selengkapnya</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                  <a href="{{ url_for('cagaralam') }}" class="img-link"><img src="{{ url_for('static', filename='images/kawahputih.jpg') }}" alt="Image" class="img-fluid"></a>
                  <div class="excerpt">
                    
      
                    <h2><a href="{{ url_for('cagaralam') }}">Kawah Putih</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                      <span class="d-inline-block mt-1">Lokasi : <a href="#">Bandung</a></span>
                      <span class="d-inline-block mt-1">Harga : <a href="#">Rp81.000</a></span>
                      <span class="d-inline-block mt-1">Rating : <a href="#">4.5</a></span>
                    </div>
      
                    <p>Kawah ini dikenal dengan keindahan alamnya yang luar biasa, dengan danau kawah yang berwarna putih kehijauan, dikelilingi oleh pemandangan pegunungan yang asri dan udara yang sejuk.</p>
                    <p><a href="#" class="read-more">Selengkapnya</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                  <a href="{{ url_for('cagaralam') }}" class="img-link"><img src="{{ url_for('static', filename='images/moko.jpg') }}" alt="Image" class="img-fluid"></a>
                  <div class="excerpt">
                    
      
                    <h2><a href="{{ url_for('cagaralam') }}">Bukit Moko</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                      <span class="d-inline-block mt-1">Lokasi : <a href="#">Bandung</a></span>
                      <span class="d-inline-block mt-1">Harga : <a href="#">Rp25.000</a></span>
                      <span class="d-inline-block mt-1">Rating : <a href="#">4.5</a></span>
                    </div>
                    <p>Bukit ini dikenal dengan pemandangan alam yang indah, udara sejuk, dan spot-spot foto yang sangat instagramable. Bukit Moko juga menjadi populer di kalangan wisatawan.</p>
                    <p><a href="#" class="read-more">Selengkapnya</a></p>
                  </div>
                </div>
              </div>
      
      

            </div>
            
          </div>
        </section>
        <div class="pt-5 comment-wrap">
          <h3 class="mb-5 heading">5 Comments</h3>
          <ul class="comment-list">
            <li class="comment">
              <div class="vcard">
                <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>Januar Wijaya</h3>
                <div class="meta">January 9, 2018 at 2:21pm</div>
                <p>Wisata manngrove sangat indah</p>
                <p><a href="#" class="reply rounded">Reply</a></p>
              </div>
            </li>

            <li class="comment">
              <div class="vcard">
                <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>Selena Ror</h3>
                <div class="meta">February 9, 2018 at 2:56pm</div>
                <p>Wisata cagar alam di jawa sangat menyenangkan</p>
                <p><a href="#" class="reply rounded">Reply</a></p>
              </div>

              <li class="comment">
                <div class="vcard">
                  <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Krisnaes</h3>
                  <div class="meta">May 10, 2022 at 2:21pm</div>
                  <p>Jawa is Wonderfull</p>
                  <p><a href="#" class="reply rounded">Reply</a></p>
                </div>

                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <!-- END comment-list -->

          <div class="comment-form-wrap pt-5">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>